{% load static %}

<!-- ##### Articles Area Start ##### -->
<section class="latest-articles-area section-padding-100-0 bg-img bg-pattern bg-fixed"
         style="background-image: url({% static 'img/bg-img/logan2.png' %});">
    <div class="container">


        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="mb-100">
                    <!-- Title -->
                    <h2 class="section-title mb-70 wow fadeInUp" data-wow-delay="100ms">Latest Articles</h2>

                    <!-- *** Single Articles Area *** -->
                    <div class="single-articles-area style-2 d-flex flex-wrap mb-30 wow fadeInUp"
                         data-wow-delay="300ms">
                        <div class="article-thumbnail">
                            <img src="{% static 'img/bg-img/6.jpg' %}" alt="">
                        </div>
                        <div class="article-content">
                            <a href="single-post.html" class="post-title">Sony’s new releases for 2018</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">July 12, 2018</a>
                                <a href="#" class="post-comments">2 Comments</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque
                                dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur
                                diam.</p>
                        </div>
                    </div>

                    <!-- *** Single Articles Area *** -->
                    <div class="single-articles-area style-2 d-flex flex-wrap mb-30 wow fadeInUp"
                         data-wow-delay="500ms">
                        <div class="article-thumbnail">
                            <img src="{% static 'img/bg-img/7.jpg' %}" alt="">
                        </div>
                        <div class="article-content">
                            <a href="single-post.html" class="post-title">10 Tips to be a better gamer</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">July 12, 2018</a>
                                <a href="#" class="post-comments">2 Comments</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque
                                dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur
                                diam.</p>
                        </div>
                    </div>

                    <!-- *** Single Articles Area *** -->
                    <div class="single-articles-area style-2 d-flex flex-wrap mb-30 wow fadeInUp"
                         data-wow-delay="700ms">
                        <div class="article-thumbnail">
                            <img src="{% static 'img/bg-img/8.jpg' %}" alt="">
                        </div>
                        <div class="article-content">
                            <a href="single-post.html" class="post-title">Microsoft has some new tips</a>
                            <div class="post-meta">
                                <a href="#" class="post-date">July 12, 2018</a>
                                <a href="#" class="post-comments">2 Comments</a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque
                                dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur
                                diam.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <!-- Title -->
                <h2 class="section-title mb-70 wow fadeInUp" data-wow-delay="100ms">ALL-IN-ONE-CODE</h2>

                <!-- Single Widget Area -->
                <div class="single-widget-area add-widget wow fadeInUp" data-wow-delay="300ms">
                    <a href="#"><img src="{% static 'img/bg-img/banner.jpg' %}" alt=""></a>
                    <!-- Side Img -->
                    <img src="{% static 'img/bg-img/python1.png' %}" class="side-img" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Articles Area End ##### -->