{% load static %}

<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <!-- Hero Post Slides -->
    <div class="hero-post-slides owl-carousel">

        <!-- Single Slide -->
            <!-- Blog Content -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-9">
                        <div class="blog-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="400ms">Family Guy</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc tristique justo id elit bibendum pharetra non vitae lectus. Mauris
                                libero felis, dapibus a ultrices sed, commodo vitae odio. Sed auctor tellus quis arcu
                                tempus, egestas tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- Blog Content -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-9">
                        <div class="blog-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="400ms">How I Met Your Mother</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc tristique justo id elit bibendum pharetra non vitae lectus. Mauris
                                libero felis, dapibus a ultrices sed, commodo vitae odio. Sed auctor tellus quis arcu
                                tempus, egestas tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Blog Content -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-9">
                        <div class="blog-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="400ms">Rick And Morty</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc tristique justo id elit bibendum pharetra non vitae lectus. Mauris
                                libero felis, dapibus a ultrices sed, commodo vitae odio. Sed auctor tellus quis arcu
                                tempus, egestas tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
            <!-- Blog Content -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-9">
                        <div class="blog-content" data-animation="fadeInUp" data-delay="100ms">
                            <h2 data-animation="fadeInUp" data-delay="400ms">f.r.i.e.n.d.s</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nunc tristique justo id elit bibendum pharetra non vitae lectus. Mauris
                                libero felis, dapibus a ultrices sed, commodo vitae odio. Sed auctor tellus quis arcu
                                tempus, egestas tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ##### Hero Area End ##### -->