{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>All-In-One-Entertainment</title>

    <!-- all css links -->
    {% include 'HomeApp/csslinks.html' %}
    <!-- all css links -->

</head>

<body>

<!-- preloader -->
<!--  -->
<!-- preloader -->

<!-- nevbar start -->
{% include 'HomeApp/navbar.html' %}
<!-- nevbar end -->


<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
{% include 'HomeApp/heroarea.html' %}
<!-- ##### Hero Area End ##### -->


<!-- ##### letest mocie Area Start ##### -->
{% include 'HomeApp/letestmovie.html' %}
<!-- ##### letest movie Area End ##### -->


<!-- netflix movie picker -->
{% include 'HomeApp/netflixmovie1.html' %}
<!-- netflix movie picker end -->


<!-- ##### trailer Area Start ##### -->
{% include 'HomeApp/trailerarea1.html' %}
<!-- ##### trailer Area End ##### -->

<!-- ##### Articles Area Start ##### -->
{% include 'HomeApp/articlearea1.html' %}
<!-- ##### Articles Area End ##### -->

<!-- ##### Footer Area Start ##### -->
{% include 'HomeApp/footer.html' %}
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
{% include 'HomeApp/javascriptlinks.html' %}
<!-- javascript links end -->
</body>
</html>